@import "~antd/dist/antd.dark.css";

body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

a {
  color: rgba(255, 255, 255, 0.85);
}

.ant-page-header {
  padding: 0;
}

.ant-btn:focus {
  color: inherit !important;
  border: 1px solid rgb(217, 217, 217);
}
